* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;

  margin: 0;
  padding: 0;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

















