*{
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0!important;
}
ul,ol,li{
    list-style: none;
}
.bg{
    min-width: 1280px;
    overflow: hidden;
    background-image: url("../images/bg.png");
    background-size: auto 100%;
}
.bg .header{
    /*width: 1200px;*/
    color: #FFFFFF;
    position: relative;
}
.bg .header .title_div{
    width: 1200px;
    margin: 0 auto;
}
.bg .header .title{
    float: left;
    font-size: 28px;
    line-height: 100px;
    margin: 0 0 0 50px;
}
.bg .header .title span{
    font-size: 14px;
}
.bg .header .sign_up{
    float: right;
    width: 136px;
    height: 34px;
    margin-top: 33px;
    margin-right: 54px;
    /*font-size: 12px;*/
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-image: url("../images/baomin.png");
}
.bg .header .sign_up a{
    display: inline-block;
}
.bg .header .swiper-container{
    /*border-top: 2px solid #eaa232;*/
    /*border-bottom: 2px solid #eaa232;*/
}
.bg .header .banner{
    /*width: 1200px;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*background-image: url("../images/banner.png");*/
    border-top: 2px solid #eaa232;
    border-bottom: 2px solid #eaa232;
}
.bg .header .gradients{
    position: absolute;
    z-index: 1;
    margin-top: -1px;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(#742840, #192e61); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#742840, #192e61); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#742840, #192e61); /* Firefox 3.6 - 15 */
    background: linear-gradient(#742840, #192e61);
}
/*.bg .header .logo{
    position: absolute;
    top: 150px;
    right: 50px;
}
.bg .header .banner_text{
    position: absolute;
    top: 275px;
    left: 50%;
    margin-left: -294px;
}*/
.bg .main{
    width: 1200px;
    margin: 0 auto;
}
.bg .main .bar{
    z-index: 2;
    position: relative;
}
.bg .main .bar li{
    float: left;
    width: 142px;
    height: 56px;
    /*margin: 60px 14px;*/
    margin: 66px 14px 88px;
    /*margin: 30px 14px;*/
    text-align: center;
    /*font-size: 16px;*/
    font-size: 18px;
    color: #FFFFFF;
    line-height: 50px;
    background-image: url("../images/barbg.png");
    background-size: 142px 56px;
    cursor: pointer;
}
.bg .main .bar li a{
    display: inline-block;
    width: 142px;
}
.bg .main .bar .action{
    background-image: url("../images/barbgac.png");
}
.bg .main .line{
    display: block;
    /*margin: 0 auto 80px;*/
    margin: 0 auto 46px;
}


.bg .main .content .left_line_title{
    border-left: 6px solid #FFFFFF;
    /*padding-left: 20px;*/
    padding-left: 10px;
    color: #FFFFFF;
    margin: 35px 0 28px!important;
    line-height: 24px;
    font-size: 22px!important;
}
.bg .main .content .float_left{
    float: left;
}
.bg .main .content .float_right{
    float: right;
}
.bg .main .content .text_center{
    text-align: center;
}
.bg .main .content .text_right{
    text-align: right;
}


.bg .footer{
    /*width: 1200px;*/
    /*height: 30px;*/
}
.bg .footer .line{
    display: block;
    /*margin: 0 auto 80px;*/
    margin: 0 auto 105px;
}
.bg .footer .info{
    /*width: 1050px;*/
    height: 336px;
    /*background-color: #15417e;*/
}
.bg .footer .info .content{
    width: 1200px;
    margin: 0 auto;
    /*background-color: #15417e;*/
    border-bottom: 2px solid #152f5c;
}
.bg .footer .info ul{
    float: left;
    width: 900px;
    /*margin: 0 auto;*/
    padding: 40px 0;
    font-size: 14px;
    color: #c9cacb;
    line-height: 40px;
}
.bg .footer .info ul li{
    float: left;
    width: 33%;
}
.bg .footer .info .partners{
    width: 300px;
    font-size: 14px;
    color: #c9cacb;
    float: right;
    margin-top: 40px;
    line-height: 40px;
}


.bg .bg_size{
    background-size: 100% 100%;
}
.bg .bg_color{
    background-color: #15417e;
}
.bg .see_more{
    width: 100%;
    height: 40px;
    /*margin-top: 40px;*/
    /*margin-bottom: 80px;*/
    margin: 24px auto 109px;
    line-height: 40px;
    font-size: 14px;
    color: #FFFFFF;
}
.bg .page{
    width: 100%;
    height: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.bg .page ul{
    display: inline-block;
}
.bg .page ul li{
    float: left;
    height: 20px;
    padding: 5px 10px;
}
.bg .page ul .action{
    background-color: #15417e;
}
.bg .page ul .first_page{
    background: url("../images/pageleft.png") no-repeat 0;
}
.bg .page ul .last_page{
    background: url("../images/pageright.png") no-repeat 0;
}
.bg .border_red{
    border-color: #FF0000!important;
}
.bg .bold{
    font-weight: bold!important;
}
.bg .cursor{
    cursor: pointer;
}
.bg .hide{
    display: none!important;
}
.bg .over_hide{
    overflow: hidden;
}
.bg .clear{
    clear: both!important;
}