{include file="public/header"}
<link rel="stylesheet" href="/public__STATIC__/css/files/index.css">
<div class="content">
    <img class="line" src="/public__STATIC__/images/line.png">
    <!--下载专区-->
    <div class="files">
        <div class="search">
            <div class="click_search bg_size cursor phone_font_size_1-6" onclick="search()">点击搜索</div>
            <input class="search_input" name="search_value" type="text" placeholder="搜索您要下载的资料..."/>
            <div class="clear"></div>
        </div>
        <div class="table_head">
            <div class="bg_color text_center phone_font_size_1-6">下载文件</div>
            <div class="bg_color text_center phone_font_size_1-6">点击下载</div>
            <div class="bg_color text_center updatt_time phone_font_size_1-6">更新时间</div>
        </div>
        <ul class="list">
            {volist name="files_list" id="vo"}
            <li>
                <h1 class="float_left phone_font_size_1-6" title="{$vo.synopsis}">{$vo.file_name}</h1>
                <a href="{$vo.file_url}" download="{$vo.file_name}">
                    <img class="download_icon bg_color cursor" src="/public__STATIC__/images/down.png"/>
                </a>
                <span class="time phone_font_size_1-6">{$vo.date}</span>
            </li>
            {/volist}
        </ul>
        <div class="see_more text_center bg_color cursor hide phone_font_size_1-6">暂无您想要的资料</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}

<script>
    $(function () {
        $(".files .list").niceScroll();
    })
</script>
<script>
    function search() {
        let search_value = $('.search_input').val()
        search_value = search_value.trim()
        if(search_value){
            $(".search_input").removeClass('border_red')
            $.ajax({
                type: "GET",
                url: "{:url('phone/files/index')}",
                data: {search_value: search_value},
                dataType: "json",
                success: function (data) {
                    if(data !== 0){
                        $('.files .list').html('')
                        $('.files .list').removeClass('hide')
                        $('.files .see_more').addClass('hide')
                        let str = ''
                        $.each(data, function (k, v) {
                            // str += '<li>'+v.file_name+'<img class="download_icon bg_color cursor" src="/public__STATIC__/images/down.png"/><span class="time">'+v.date+'</span></li>'
                            str += '\n' +
                                '            <li>\n' +
                                '                <h1 class="float_left phone_font_size_1-6" title="'+v.synopsis+'">'+v.file_name+'</h1>\n' +
                                '                <a href="'+v.file_url+'" download="'+v.file_name+'">\n' +
                                '                    <img class="download_icon bg_color cursor" src="/public__STATIC__/images/down.png"/>\n' +
                                '                </a>\n' +
                                '                <span class="time phone_font_size_1-6">'+v.date+'</span>\n' +
                                '            </li>'
                        })
                        $('.files .list').html(str)
                    }else{
                        $('.files .list').html('')
                        $('.files .list').addClass('hide')
                        $('.files .see_more').removeClass('hide')
                    }
                }
            })
        }else{
            $(".search_input").addClass('border_red')
        }
    }
</script>