{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/message/details.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--消息详情-->
    <div class="details">
        <h1 class="left_line_title">{$news.title}</h1>
        <div class="ql-editor">
            {$news.content}
        </div>
        <p class="author text_right">{$news.author}</p>
        <p class="date text_right">{$news.date}</p>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}