{include file="public/header"}
<link rel="stylesheet" href="/public__STATIC__/css/message/index.css">
<div class="content">
    <img class="line" src="/public__STATIC__/images/line.png">
    <!--公告-->
    <div class="message">
        <h1 class="left_line_title">公告</h1>
        <ul class="list">
            {volist name="message_list" id="vo"}
            <li><a href="{:url('/phone/message/details')}?id={$vo.id}" class="phone_font_size_1-6">{$vo.title}</a><span class="time phone_font_size_1-6">{$vo.date}</span></li>
            {/volist}
        </ul>
        <div class="see_more text_center bg_color cursor phone_font_size_1-6" onclick="seeMore()">查看更多</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}

<script>
    let page = 1
    let pages = {$message_pages}

    if(pages === 1){
        $('.see_more').addClass('hide')
    }

    function seeMore() {
        if(page < pages){
            $.ajax({
                type: "GET",
                url: "{:url('phone/message/index')}",
                data: {page: ++page},
                dataType: "json",
                success: function (data) {
                    let str = ''
                    $.each(data, function(k, v){
                        str += '<li><a href="{:url(\'/phone/message/details\')}?id='+v.id+'" class="phone_font_size_1-6">'+v.title+'</a><span class="time phone_font_size_1-6">'+v.date+'</span></li>'
                    })
                    console.log(str)
                    $('.message .list').append(str)
                    if(page === pages){
                        $('.see_more').addClass('hide')
                    }
                }
            })
        }

    }
</script>