{include file="public/header"}
<link rel="stylesheet" href="public/public/__STATIC__/css/competition_rules/index.css">
<div class="content">
    <img class="line" src="public/public/__STATIC__/images/line.png">
    <!--竞赛规程-->
    <div class="competition_rules">
        <ul class="second_bar">
            <li class="bg_size cursor text_center action" onclick="actionPageTwo(0)">比赛时间及地点</li>
            <li class="bg_size cursor text_center" onclick="actionPageTwo(1)">竞赛办法</li>
            <li class="bg_size cursor text_center" onclick="actionPageTwo(2)">参赛资格</li>
            <li class="bg_size cursor text_center" onclick="actionPageTwo(3)">报名方式</li>
        </ul>
        <div class="clear"></div>
        <!--比赛时间及地点-->
        <div class="match_time_address show_div">
            <h1 class="left_line_title bold">比赛时间</h1>
            <div class="line"></div>
            <ul class="match_time">
                {volist name="match_time_address" id="vo"}
                <li>
                    <h1 class="title bold">{$vo.match_type}</h1>
                    <p class="content">{$vo.match_time}</p>
                </li>
                {/volist}
                <!--<li>
                    <h1 class="title bold">城市预选赛</h1>
                    <p class="content">比赛时间为2019年8月10日至2019年9月8日,共5个周末,10个比赛日,各承办城市按照本城市实际情况选择相应的比赛日完成比赛。</p>
                </li>
                <li>
                    <h1 class="title bold">大区赛</h1>
                    <p class="content">比赛时间为2019年8月10日至2019年9月8日,共5个周末,10个比赛日,各承办城市按照本城市实际情况选择相应的比赛日完成比赛。</p>
                </li>
                <li>
                    <h1 class="title bold">总决赛</h1>
                    <p class="content">比赛时间为2019年8月10日至2019年9月8日,共5个周末,10个比赛日,各承办城市按照本城市实际情况选择相应的比赛日完成比赛。</p>
                </li>
                <li>
                    <h1 class="title bold">女子冠军赛</h1>
                    <p class="content">为赛会制比赛,比赛时间为2019年10月16日至2019年10月23日举行举行(具体时间另行通知),各赛区城市申办举行,由各省推荐女子篮球队参加(球队16支,即:每个省或自治区报名一支参赛队,共涉及16个省),比赛为时5天。</p>
                </li>-->
            </ul>
            <div class="bottom_line"></div>
            <h1 class="left_line_title bold">比赛地点</h1>
            <div class="line"></div>
            <ul class="match_time">
                {volist name="match_time_address" id="vo"}
                <li>
                    <h1 class="title bold">{$vo.match_type}</h1>
                    <p class="content">{$vo.match_address}</p>
                </li>
                {/volist}
                <!--<li>
                    <h1 class="title bold">城市预选赛:32个省</h1>
                    <p class="content">江苏、浙江、福建、广东、海南、台湾、江西、安徽、香港、澳门、云南 、广西、贵州、湖南、湖北、重庆、四川、西藏,新疆,青海,甘肃,宁夏,陕西、辽宁、吉林、黑龙江、山东、河北、天津、北京、内蒙古、青海、山西。</p>
                </li>
                <li>
                    <h1 class="title bold">大区赛</h1>
                    <p class="content"></p>
                </li>
                <li>
                    <h1 class="title bold">总决赛</h1>
                    <p class="content"></p>
                </li>
                <li>
                    <h1 class="title bold">女子冠军赛</h1>
                    <p class="content"></p>
                </li>-->
            </ul>
        </div>
        <!--竞赛办法-->
        <div class="match_way show_div hide">
            <h1 class="title bold text_center">采用中国篮协最新审定的《篮球规则》</h1>
            <div>
                <div class="line"></div>
                <div class="left_notice bg_color float_left">
                    <h1 class="title">{$match_way[0]['match_type']}</h1>
                    <p class="content">{$match_way[0]['match_way']}</p>
                </div>
                <div class="right_rule float_right">
                    <h1 class="title text_center bg_color">第一阶段小组赛(单循环)每组别第一名晋级四强</h1>
                    <ol>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">A(组)</li>
                                <li class="bg_color text_center">A1</li>
                                <li class="bg_color text_center">A2</li>
                                <li class="bg_color text_center">A3</li>
                                <li class="bg_color text_center">A4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">B(组)</li>
                                <li class="bg_color text_center">B1</li>
                                <li class="bg_color text_center">B2</li>
                                <li class="bg_color text_center">B3</li>
                                <li class="bg_color text_center">B4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">C(组)</li>
                                <li class="bg_color text_center">C1</li>
                                <li class="bg_color text_center">C2</li>
                                <li class="bg_color text_center">C3</li>
                                <li class="bg_color text_center">C4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">D(组)</li>
                                <li class="bg_color text_center">D1</li>
                                <li class="bg_color text_center">D2</li>
                                <li class="bg_color text_center">D3</li>
                                <li class="bg_color text_center">D4</li>
                            </ul>
                        </li>
                    </ol>
                    <div class="clear"></div>
                    <h1 class="title text_center bg_color">第二阶段淘汰赛(单淘赛制)</h1>
                    <img src="public/__STATIC__/images/way_one.png"/>
                    <h1 class="title text_center bg_color"></h1>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="line"></div>
                <div class="left_notice bg_color float_left">
                    <h1 class="title">{$match_way[1]['match_type']}</h1>
                    <p class="content">{$match_way[1]['match_way']}</p>
                </div>
                <div class="right_rule float_right">
                    <h1 class="title text_center bg_color">第一阶段小组赛(单循环)每组别第一名晋级四强</h1>
                    <ol>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">A(组)</li>
                                <li class="bg_color text_center">A1</li>
                                <li class="bg_color text_center">A2</li>
                                <li class="bg_color text_center">A3</li>
                                <li class="bg_color text_center">A4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">B(组)</li>
                                <li class="bg_color text_center">B1</li>
                                <li class="bg_color text_center">B2</li>
                                <li class="bg_color text_center">B3</li>
                                <li class="bg_color text_center">B4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">C(组)</li>
                                <li class="bg_color text_center">C1</li>
                                <li class="bg_color text_center">C2</li>
                                <li class="bg_color text_center">C3</li>
                                <li class="bg_color text_center">C4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">D(组)</li>
                                <li class="bg_color text_center">D1</li>
                                <li class="bg_color text_center">D2</li>
                                <li class="bg_color text_center">D3</li>
                                <li class="bg_color text_center">D4</li>
                            </ul>
                        </li>
                    </ol>
                    <div class="clear"></div>
                    <h1 class="title text_center bg_color">第二阶段淘汰赛(单淘赛制)</h1>
                    <img src="public/__STATIC__/images/way_two.png"/>
                    <h1 class="title text_center bg_color"></h1>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="line"></div>
                <div class="left_notice bg_color float_left">
                    <h1 class="title">{$match_way[2]['match_type']}</h1>
                    <p class="content">{$match_way[2]['match_way']}</p>
                </div>
                <div class="right_rule float_right">
                    <h1 class="title text_center bg_color">第一阶段小组赛(单循环)每组别第一名晋级四强</h1>
                    <ol>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">A(组)</li>
                                <li class="bg_color text_center">A1</li>
                                <li class="bg_color text_center">A2</li>
                                <li class="bg_color text_center">A3</li>
                                <li class="bg_color text_center">A4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">B(组)</li>
                                <li class="bg_color text_center">B1</li>
                                <li class="bg_color text_center">B2</li>
                                <li class="bg_color text_center">B3</li>
                                <li class="bg_color text_center">B4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">C(组)</li>
                                <li class="bg_color text_center">C1</li>
                                <li class="bg_color text_center">C2</li>
                                <li class="bg_color text_center">C3</li>
                                <li class="bg_color text_center">C4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">D(组)</li>
                                <li class="bg_color text_center">D1</li>
                                <li class="bg_color text_center">D2</li>
                                <li class="bg_color text_center">D3</li>
                                <li class="bg_color text_center">D4</li>
                            </ul>
                        </li>
                    </ol>
                    <div class="clear"></div>
                    <h1 class="title text_center bg_color">第二阶段淘汰赛(单淘赛制)</h1>
                    <img src="public/__STATIC__/images/way_one.png"/>
                    <h1 class="title text_center bg_color"></h1>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="line"></div>
                <div class="left_notice bg_color float_left">
                    <h1 class="title">{$match_way[3]['match_type']}</h1>
                    <p class="content">{$match_way[3]['match_way']}</p>
                </div>
                <div class="right_rule float_right">
                    <h1 class="title text_center bg_color">第一阶段小组赛(单循环)每组别第一名晋级四强</h1>
                    <ol>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">A(组)</li>
                                <li class="bg_color text_center">A1</li>
                                <li class="bg_color text_center">A2</li>
                                <li class="bg_color text_center">A3</li>
                                <li class="bg_color text_center">A4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">B(组)</li>
                                <li class="bg_color text_center">B1</li>
                                <li class="bg_color text_center">B2</li>
                                <li class="bg_color text_center">B3</li>
                                <li class="bg_color text_center">B4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">C(组)</li>
                                <li class="bg_color text_center">C1</li>
                                <li class="bg_color text_center">C2</li>
                                <li class="bg_color text_center">C3</li>
                                <li class="bg_color text_center">C4</li>
                            </ul>
                        </li>
                        <li class="group_list">
                            <ul>
                                <li class="bg_color text_center">D(组)</li>
                                <li class="bg_color text_center">D1</li>
                                <li class="bg_color text_center">D2</li>
                                <li class="bg_color text_center">D3</li>
                                <li class="bg_color text_center">D4</li>
                            </ul>
                        </li>
                    </ol>
                    <div class="clear"></div>
                    <h1 class="title text_center bg_color">第二阶段淘汰赛(单淘赛制)</h1>
                    <img src="public/__STATIC__/images/way_one.png"/>
                    <h1 class="title text_center bg_color"></h1>
                </div>
                <div class="clear"></div>
            </div>
            <div class="line bottom_line"></div>
        </div>
        <!--参赛资格-->
        <div class="eligibility show_div hide">
            <h1 class="left_line_title bold">中国篮球公开赛城市赛参赛资格</h1>
            <div class="line"></div>
            <ul class="eligibility_list">
                {volist name="eligibility_type_one" id="vo"}
                <li>{$vo.letter}、{$vo.content}</li>
                {/volist}
            </ul>
            <div class="line"></div>
            <h1 class="left_line_title bold">中国篮球公开赛女子冠军赛参赛资格</h1>
            <div class="line"></div>
            <ul class="eligibility_list">
                {volist name="eligibility_type_two" id="vo"}
                <li>{$vo.letter}、{$vo.content}</li>
                {/volist}
            </ul>
        </div>
        <!--报名方式-->
        <div class="sign_up_way show_div hide">
            <img src="public/__STATIC__/images/sign_up_way.png" />
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}

<script>
    function actionPageTwo(index){
        $('.second_bar li').removeClass('action')
        $('.second_bar li').eq(index).addClass('action')
        $('.show_div').addClass('hide')
        $('.show_div').eq(index).removeClass('hide')
    }
</script>