{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/files/index.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--下载专区-->
    <div class="files">
        <div class="search">
            <div class="click_search bg_size cursor" onclick="search()">点击搜索</div>
            <input class="search_input" name="search_value" type="text" placeholder="搜索您要下载的资料..."/>
            <div class="clear"></div>
        </div>
        <div class="table_head">
            <div class="bg_color text_center">下载文件</div>
            <div class="bg_color text_center">点击下载</div>
            <div class="bg_color text_center updatt_time">更新时间</div>
        </div>
        <ul class="list">
            {volist name="files_list" id="vo"}
            <li>{$vo.file_name}<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">{$vo.date}</span></li>
            {/volist}
        </ul>
        <div class="see_more text_center bg_color cursor hide">暂无您想要的资料</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}

<script>
    function search() {
        let search_value = $('.search_input').val()
        $.ajax({
            type: "GET",
            url: "{:url('index/files/index')}",
            data: {search_value: search_value},
            dataType: "json",
            success: function (data) {
                if(data !== 0){
                    $('.files .list').html('')
                    $('.files .list').removeClass('hide')
                    $('.files .see_more').addClass('hide')
                    let str = ''
                    $.each(data, function (k, v) {
                        str += '<li>'+v.file_name+'<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">'+v.date+'</span></li>'
                    })
                    $('.files .list').html(str)
                }else{
                    $('.files .list').html('')
                    $('.files .list').addClass('hide')
                    $('.files .see_more').removeClass('hide')
                }
            }
        })
    }
</script>