.content .about {
    width: 995px;
    height: 201px;
    padding: 20px 0 20px 45px;
    margin: 0 auto 80px;
    color: #FFFFFF;
    background-image: url("../../images/dakuang.png");
}

.content .about * {
    float: left;
}

.content .about .about_left {
    width: 770px;
}

.content .about .about_right {
    width: 225px;
    text-align: center;
}

.content .about .about_right *{
    float: none;
}

.content .about .title {
    font-size: 24px;
    line-height: 60px;
}

.content .about .math_rule {
    width: 108px;
    height: 28px;
    margin: 15px 0 0 15px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #eaa232;
}

.content .about .content_text {
    font-size: 14px;
    line-height: 28px;
}

.content .about p {
    font-size: 14px;
    line-height: 28px;
}

.content .about .logo {
    width: 86px;
    height: 86px;
    margin: 20px 0 45px;
}

.content .about .details {
    float: none;
    width: 138px;
    height: 34px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-image: url("../../images/details.png");
}
.content .message{
    width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
}
.content .message>*{
    float: left;
}
.content .message .image {
    width: 400px;
    height: 400px;
    margin-right: 19px;
}
.content .message .image .img_div{
    width: 400px;
    height: 400px;
    display: table-cell;
    vertical-align:middle;
}
.content .message .image .img_div img{
    float: left;
    width: 100%;
    /*max-height: 100%;*/
}
.content .message .info {
    width: 380px;
}
.content .message .info .title{
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}
.content .message .info li {
    width: 340px;
    padding: 32px 0 32px 40px;
    font-size: 14px;
    border-bottom: 1px solid #15417e;
    background: url("../../images/listicon.png") no-repeat 15px 35px;
}
.content .message .info .more{
    float: right;
    font-size: 14px;
    text-align: right;
    line-height: 40px;
}
.content .message .info .more_icon{
    float: right;
    margin: 13px 0 0 5px;
    width: 14px;
    height: 14px;
}
.content .message .vertical_line {
    width: 1px;
    height: 400px;
    margin: 0 10px;
    background-color: #15417e;
}
.content .wonderful_images {
    width: 1200px;
    margin: 0 auto;
}
.content .wonderful_images .image{
    position: relative;
    display: table-cell;
    vertical-align:middle;
}
.content .wonderful_images .image>img{
    float: left;
    width: 100%;
    /*max-height: 100%;*/
}
.content .wonderful_images .image_title{
    position: absolute;
    color: #c9cacb;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 25px;
    background-color: #1b3155;
}
.content .wonderful_images .image_title .image_title_icon{
    margin: 0 8px 0 20px;
}
.content .wonderful_images .image_one{
    width: 420px;
    height: 195px;
    margin-right: 5px;
}
.content .wonderful_images .image_two{
    width: 340px;
    height: 95px;
    margin-right: 5px;
}
.content .wonderful_images .image_three{
    width: 430px;
    height: 95px;
}
.content .wonderful_images .image_four{
    width: 340px;
    height: 95px;
    margin-right: 5px;
    margin-top: 5px;
}
.content .wonderful_images .image_five{
    width: 430px;
    height: 95px;
    margin-top: 5px;
}
.content .wonderful_images .more{
    float: right;
    font-size: 14px;
    text-align: right;
    line-height: 40px;
    color: #FFFFFF;
}
.content .wonderful_images .more_icon{
    float: right;
    margin: 13px 0 0 5px;
    width: 14px;
    height: 14px;
}
.content .team_situation {
    width: 1200px;
    margin: 20px auto;
    color: #FFFFFF;
}
.content .team_situation .left_line_title{
    float: left;
}
.content .team_situation .click{
    float: right;
    width: 138px;
    height: 34px;
    margin-top: 28px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-image: url("../../images/details.png");
}
.content .team_situation .select{
    float: right;
    width: 110px;
    height: 34px;
    font-size: 14px;
    padding-left: 10px;
    margin: 28px 20px 0 15px;
    line-height: 34px;
    border: 1px solid #15417e;
    border-radius: 4px;
    color: #FFFFFF;
}
.content .team_situation .choose{
    float: right;
    font-size: 14px;
    line-height: 90px;
}
.content .data_statistics {
    width: 765px;
    margin: 20px auto;
    color: #FFFFFF;
}
.content .data_statistics .left_line_title{
    float: left;
}
.content .data_statistics .click{
    float: right;
    width: 138px;
    height: 34px;
    margin-top: 28px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-image: url("../../images/details.png");
}
.content .data_statistics .select{
    float: right;
    width: 110px;
    height: 34px;
    font-size: 14px;
    padding-left: 10px;
    margin: 28px 20px 0 15px;
    line-height: 34px;
    border: 1px solid #15417e;
    border-radius: 4px;
    color: #FFFFFF;
}
.content .data_statistics .choose{
    float: right;
    font-size: 14px;
    line-height: 90px;
}
.content .data_statistics .type_action li{
    float: left;
    width: 151px;
    height: 7px;
    border-top: 3px solid #1b3155;
    border-left: 1px solid #1b3155;
    border-right: 1px solid #1b3155;
}
.content .data_statistics .type_action .action{
    border-top: 3px solid #eaa232;
    border-left: 1px solid #eaa232;
    border-right: 1px solid #eaa232;
}
.content .data_statistics .type li{
    width: 151px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaa232;
}
.content .data_statistics .type .action{
    border-top: none;
    border-bottom: none;
}
.content .data_statistics .list{
    position: relative;
    margin-top: 15px;
    border-top: 1px solid #15417e;
}
.content .data_statistics .list li{
    width: 230px;
    margin: 0 15px;
    padding: 15px 0;
    border-bottom: 1px solid #15417e;
}
.content .data_statistics .list .left_li{
    margin-left: 0;
}
.content .data_statistics .list li img{
    width: 56px;
    height: 40px;
    margin-top: 4px;
    margin-right: 5px;
}
.content .data_statistics .list li .info h1{
    font-size: 12px;
    line-height: 16px;
}
.content .data_statistics .list li h2{
    font-size: 30px;
    line-height: 48px;
    color: #046eb8;
}
.content .data_statistics .list .big{
    position: relative;
    padding: 25px 0;
}
.content .data_statistics .list .big .number{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #15417e;
    left: 0;
    top: 29px;
}
.content .data_statistics .list .big img{
    width: 86px;
    height: 105px;
    margin-right: 15px;
}
.content .data_statistics .list .big .info h1{
    font-size: 12px;
    line-height: 18px;
}
.content .data_statistics .list .big h2{
    font-size: 36px;
    line-height: 60px;
    color: #046eb8;
}
.content .data_statistics .list .line{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #15417e;
}
.content .data_statistics .list .one {
    left: 245px;
}
.content .data_statistics .list .two {
    left: 505px;
}
.content .data_statistics .list .three {
    left: 765px;
}
.content .player_score{
    width: 400px;
    margin: 20px auto;
}
.content .player_score .head {
    background-color: #046eb8;
}
.content .player_score .head h1{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 55px;
}
.content .player_score .head .rank{
    width: 20%;
}
.content .player_score .head .team{
    width: 30%;
}
.content .player_score .head .name{
    width: 30%;
}
.content .player_score .head .score{
    width: 20%;
}
.content .player_score .list {
    height: 325px;
    border-bottom: 1px solid #15417e;
}
.content .player_score .list li {
    height: 80px;
    border-top: 1px solid #15417e;
}
.content .player_score .list li *{
    float: left;
    font-size: 16px;
    line-height: 80px;
    color: #FFFFFF;
}
.content .player_score .list li .rank{
    width: 20%;
}
.content .player_score .list li .team{
    width: 30%;
}
.content .player_score .list li .team img{
    max-width: 35px;
    margin: 25px 20px 0 10px;
}
.content .player_score .list li .name{
    width: 30%;
}
.content .player_score .list li .score{
    width: 20%;
}